# Fichiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env virtuel (si un jour tu ajoutes un venv)
venv/
.env
